@model IEnumerable<SistemaReservas.Models.Reservas>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<div class="AdminContainer">
<h1>Reservations</h1>

<p>
    <a class="btnCreate" asp-action="Create">Create New</a>
</p>

<div class="indexTable">
    <div class="indexTableHeader">
<table>
    <thead>
        <tr>
            <th>
                Reservation made
            </th>
            <th>
                Reserved day
            </th>
            <th>
                Amount
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
        </div>
        <div class="indexTableBody">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservaRealizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaReservado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                <a class="btnEdit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btnDetails" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btnDelete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
    </div>
</div>